<nav class="nav">
	<h3 class="nav--brand-container">
		<a class="nav--brand-link" href="/">FrontEndear</a>
	</h3>
	<ul class="nav--menu-container {{include.navclass}} ">
		<li>
			<a class="nav--menu-item {% if page.path contains 'coding' %}nav--menu--selected{% endif %}" href="{{site.baseurl}}/coding/">Coding</a>
		</li>
		<li>
			<a class="nav--menu-item {% if page.path contains 'links' %}nav--menu--selected{% endif %}" href="{{site.baseurl}}/links/">Links</a>
		</li>
		<li>
			<a class="nav--menu-item {% if page.path contains 'life' %}nav--menu--selected{% endif %}" href="{{site.baseurl}}/life/">Life</a>
		</li>
	</ul>
</nav>
