<nav>
	<a class="{% if page.path contains 'home' %}current{% endif %}" href="/">FrontEndear</a>
	<ul class="nav {{include.navclass}} ">
		<li><a class="{% if page.path contains 'learning' %}current{% endif %}" href="{{site.baseurl}}/learning/">Learning</a></li>
		<li><a class="{% if page.path contains 'links' %}current{% endif %}" href="{{site.baseurl}}/links/">Links</a></li>
		<li><a class="{% if page.path contains 'life' %}current{% endif %}" href="{{site.baseurl}}/life/">Life</a></li>
	</ul>
</nav>