<article class="post--article">
    <a href="{{site.baseurl}}{{post.url}}">
        <h2 class="post--title">{{ include.post.title }}</h2>
    </a>

    <time class="post--time" datetime="{{ post.date | date_to_string }}">
        <i class="fa fa-clock-o"></i>
        <span class="day">
            {{ include.post.date | date: "%d" }}
        </span>
        <span class="month-year">
            {{ include.post.date | date: "%B %Y" }}
        </span>
    </time>

    <div class="post--description">{{include.post.description}}</div>

    <div>
        {% for tag in include.post.tags %}
            <a class="tag" href="{{site.baseurl}}/tags/index.html#{{tag | strip}}">
                <i class="fa fa-tags post--tag-icon" aria-hidden="true"></i> {{tag}}
            </a>
        {% endfor %}
    </div>
</article>
