---
layout: default
title: Coding
---

<div class="post--container">
	<h1>Coding</h1>

	{% for post in site.categories['coding']%}
		<article class="post--article">
			<a href="{{site.baseurl}}{{post.url}}">
				<h2 class="post--title">{{ post.title }}</h2>
			</a>

		    <time class="post--time" datetime="{{ post.date | date_to_string }}">
		        <span class="day">
		            {{ post.date | date: "%d" }}
		        </span>
		        <span class="month-year">
		            {{ post.date | date: "%B %Y" }}
		        </span>
		    </time>

			<div class="post--description">{{post.description}}</div>

			<div>
				{% for tag in post.tags %}
					<a class="tag" href="{{site.baseurl}}/tags/index.html#{{tag | strip}}">#{{tag}}</a>
				{% endfor %}
			</div>
		</article>
	{% endfor %}

</div>

<div class="post--pagination">1 of 1</div>
