.home--icon-container:not(:last-child) {
    margin-right: 1.5em;
}

.home--social-container {
	margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
}

.home--latest-container {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

.home--latest-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.home--latest-category {
    flex-grow: 2;
	width: 15em;
	border: 1px solid var(--lightest-grey);
    border-radius: 15px;
	margin: 0.5em;
    padding: 0.5em;
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    box-sizing: border-box;
    text-align: center;
    transition: 0.4s;
}

.home--latest-category:hover {
    background: #eee;
}