header {
    border-bottom: 1px solid var(--lightest-grey);
}

.nav {
	max-width: 55em;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav--menu-container {
    margin-top: 1.45em;
    padding-left: 0px;
}

.nav--menu-container > li {
	display: inline-block;
	margin-right: 1.5em;
}

.nav--menu-container > li:not(:last-child) {
	margin-right: 1.5em;
}

@media all and (max-width: 367px) {
    .nav {
        justify-content: center;
    }

    .nav--menu-container {
        margin-top: 0;
    }
}

.nav--brand-container {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.nav--brand-link {
	display: inline-block;
	font-weight: bold;
}

.nav--menu-item {
	padding-top: 2em;
    padding-bottom: 0.3em;
}

.nav--menu--selected {
	border-bottom: 2px solid var(--light-green);
}

.nav--menu--selected:hover {
	border-bottom: 2px solid var(--dark-green);
}
