---
layout: default
---

<article class="article--container">
	<div class="article--date-container">
		<h5 class="article--date">
	        <time datetime="{{ page.date | date_to_xmlschema }}">
	          	{{ page.date | date_to_long_string }}
	        </time>
	    </h5>
    </div>

	<h1 class="article--title">{{page.title}}</h1>

	{{content}}

	<div>
		{% for tag in page.tags %} 
			<a class="tag" href="{{site.baseurl}}/tags/index.html#{{tag | strip}}">#{{tag}}</a>
		{% endfor %}
	</div>
</article>