---
layout: default
---

<article class="article--container">
	<div class="article--header">
		<h1 class="article--title">{{page.title}}</h1>

		<div class="article--date-container">
			<h5 class="article--date">
		        <time datetime="{{ page.date | date_to_xmlschema }}">
		          	{{ page.date | date_to_long_string }}
		        </time>
		    </h5>
	    </div>
	</div>

	{{content}}

	<div class="tag--container">
		{% for tag in page.tags %}
			<a class="tag" href="{{site.baseurl}}/tags/index.html#{{tag | strip}}">
				<i class="fa fa-tags post--tag-icon" aria-hidden="true"></i> {{tag}}
			</a>
		{% endfor %}
	</div>
</article>
