<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title%}{{page.title}} - {% endif %}Articles</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<meta name="theme-color" content="#0088a7">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" rel="stylesheet"/>
		<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	</head>
	<body>
		<header>
			{% include header.html %}
		</header>

		{{content}}

		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>
